# ignore
data/*
!data/.gitkeep
datasets/*
!datasets/.gitkeep
features/*
!features/.gitkeep
repos/*
!repos/.gitkeep
runs/*
!runs/.gitkeep
fromage/llama/*
!fromage/llama/.gitkeep
vqa/*

*ipynb_checkpoints
*.pyc
